body {
    color: #fff;
    background: black;
    
    justify-content: center;
    display: flex;

    align-content: center;
    /*align-items: center;*/
    text-align: center;
}

.top-title{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.top-title img{
    width: 450px;
}

.line{
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    
    border-top: 1px solid #fff;
    border-bottom: 1px double #fff;
}


.text-top{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    
    text-align: left;
}

.outer-search{
    display: flex;
    justify-content : center;
}

.inner-search{
    height: 40px;
    width: 250px;
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.search-input{
    border: none;
    height: 30px;
}

.search-img{
    cursor:pointer;
    height: 30px;
    width: 30px;
}

.category button{
    border: none;
    background: none;
    margin: 3px;
}

.category button:hover{
    background-color: lightslategrey;
}

.category-box{
    justify-content: center;
    display: flex;
}
/*
.category{
    background-color: none;
    width: 75%;
    border-top: 1px solid rgb(152, 3, 3); 
    border-bottom: 1px solid rgb(152, 3, 3);
}
*/

.movie-img-size{
    max-width: 100%;
    max-height: 300px;
}


/* 없으면 가로 아니게 됨
.movie-item{
    display: flex;
    /*justify-content: center;

    width: 100%;
}
*/

.movie-inner{
    width: 20%;
    float: left;
    background: rgb(37, 37, 37);
    color: #fff;
}

.movie-content{
    margin-top: 1em;
    margin-bottom: 1em;
}

.movie-title{
    max-width: 100%;
    max-height: 25px;
    margin-left: 8px;
    margin-right: 8px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.movie-genres{
    max-width: 100%;
    max-height: 25px;
    overflow: hidden;
    margin-left: 8px;
    margin-right: 8px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.movie-etc{
    max-width: 100%;
    max-height: 25px;
    overflow: hidden;
    margin-left: 8px;
    margin-right: 8px;
}


/*마우스 올리면 멈추기*/
.style-wrap > .style-outbox:hover .animation{
    animation-play-state: paused;
}

/*api를 감싸는 box*/
.style-wrap > .style-outbox .movie-item {
    width: 100%;
    height: 450px;
    display: flex; /*가로배치*/
    text-align: center;
}


.animation{
    animation-name: infinite_slide;
    animation-duration: 15s; /*10초간 move*/
    animation-timing-function: linear;
    animation-iteration-count: infinite; /*끊기지 않고 무한히*/
}

@keyframes infinite_slide{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-270%);
    }
}



.btn-css:hover,
.btn-css:focus{
    box-shadow: inset 0 0 0 2em var(--hover);
}

button {
    color: var(--color);
    transition: 0.3s;
    
    &:hover,
    &:focus { 
      border-color: var(--hover);
      color: #fff;
    }
}

.error{
    color: red;
    font-size: 15pt;
}